<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Stories List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">List of stories</h1>
        <p class="lead fw-normal text-muted mb-0">Stories</p>
      </div>
      <div class="row gx-5">

        <div th:each="story : ${stories}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3">
            <a th:text="${story.title} "class="h3 fw-bolder text-decoration-none link-da rk stretched-link" href="#!">Bookstore</a>
          </div>
          <a th:href="@{/stories/{storyId}(storyId=${story.id})}" class="btn btn-primary">View</a>
          <div th:if="${user.id} == ${book.createdBy.id}">
          <a th:href="@{/stories/{storyId}(storyId=${story.id})}"class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>